div.this-is-a-class
    .wrapper if not defined, pug uses div by default
        p#this-is-an-id ID
        img(src="dog.jpg" alt="Dog Image")

div is this a div?
    p Name: #{name}
    p Type: #{type}
